<div class="row">
	<div class="text-center">
		<div class="margin-bottom-12">
			<button type="button" class="btn btn-default" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">&lt; PREV</button>
			<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
			<button type="button" class="btn btn-default" ng-disabled="curPage >= customContentList.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt;</button>
		</div>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<tr class="info">
			<th><span>User Id</span></th>
			<th><span>First and Last Name</span></th>
			<th><span>Version</span></th>
			<th><span>Insurance Company</span></th>
		</tr>
		<tr ng-repeat="fileContent in customContentList | paginationFilter: curPage * pageSize | limitTo: pageSize">
			<td><span>{{fileContent.userId}}</span></td>
			<td><span>{{fileContent.firstAndLastName}}</span></td>
			<td><span>{{fileContent.version}}</span></td>
			<td><span><a class="btn btn-default" ng-click="downloadCSV($index)" title="Click to download {{fileContent.insuranceCompany}} as CSV File">{{fileContent.insuranceCompany}}</a></span></td>
		</tr>
	</table>
</div>
