html,body {
	overflow-x: hidden;
}

body {
	padding-top: 70px;
	background-color: #4A87AB;
}

footer {
	padding: 10px 0;
}

.text-brand {
	text-shadow: 2px 2px 2px #cccccc;
}

.box-format {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	margin: 5px 5px 70px;
	border-radius: 5px;
	padding: 10px;
}

.box-bottom-line {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ccc;
	padding: 0px 11px 0px 11px;
	margin: -10px -9px 11px -9px; /* top right bottom left */
}

.tab-box {
	margin: 0px;
	padding: 0px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.history-box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	overflow-y: scroll;
	border-radius: 5px;
	background: #fff;
	height: 130px;
	padding: 10px;
	margin: 0px;
}

.text-limit>span {
	width: 90%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nav-bg {
	background-color: #f8f8f8;
}

.hidden {
	display: none;
}

.show {
	display: inline;
}

.hide-mobile {
	display: block;
}

.show-mobile {
	display: none;
}

.show-cursor {
	cursor: pointer;
}

.font-size-26 {
	font-size: 26px;
}

.font-size-16 {
	font-size: 16px;
}

.font-14 {
	font-size: 14px;
	font-weight: bold;
}

.label-padding {
	padding: 0px;
}

.text-area-format {
	resize: none;
	outline: none;
}

.related-issue-line {
	padding: 10px 20px 0px 25px;
}

.detail-page {
	margin: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #f8f8f8;
	padding: 15px 25px 5px 11px;
}

input[type="text"]:valid {
	color: green;
}

input[type="text"]:valid ~ .input-validation::before {
	content: "\2713";
	color: green;
}

input[type="text"]:invalid {
	color: red;
}

.input-group ul,.input-group ul table {
	width: 100%;
}

.asterisk{
	color: red;
}

.top-line {
	border-top: 1px solid #ccc;
}

.bottom-line {
	border-bottom: 1px solid #ccc;
}

.padding-10 {
	padding: 10px;
}

.padding-5 {
	padding: 5px;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.margin-bottom-280 {
	margin-bottom: 280px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-12 {
	margin-bottom: 12px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-5 {
	margin-left: 5px;
}

.row-append {
	margin: 0px;
}

.col-mobile {
	width: 0%;
}

.col-m-80 {
	width: 80%;
	float: left;
}

.col-m-20 {
	width: 20%;
	float: left;
}

.col-label {
	width: 15%;
	float: left;
}

.col-label-id {
	width: 25%;
	float: left;
}

.col-label-issue {
	width: 17%;
	float: left;
}

.col-input {
	width: 85%;
	float: left;
}

.col-input-id {
	width: 75%;
	float: left;
}

.col-input-issue {
	width: 83%;
	float: left;
}

.margin-id-m {
	margin: 0px 0px 0px 15px;
}

.margin-space-m {
	margin: 0px 0px 0px 15px;
}

.margin-left-m-5 {
	margin-left: 5px;
}

.row-model-th {
	background-color: #d9edf7;
	padding: 10px 0px 10px 0px;
}

.row-th {
	padding: 0px 0px 10px 0px;
	background-color: #d9edf7;
}

.row-item:nth-child(odd) {
	padding: 0px 0px 10px 0px;
	background-color: #f9f9f9;
	border-top: 1px solid #ddd;
}

.row-item:nth-child(even) {
	padding: 0px 0px 10px 0px;
	background-color: #ffffff;
	border-top: 1px solid #ddd;
}

.row-100 {
	width: 100%;
	float: left;
}

.col-95 {
	width: 95%;
	float: left;
}

.col-90 {
	width: 90%;
	float: left;
}

.col-85 {
	width: 85%;
	float: left;
}

.col-80 {
	width: 80%;
	float: left;
}

.col-73 {
	width: 73%;
	float: left;
}

.col-50 {
	width: 50%;
	float: left;
}

.col-40 {
	width: 40%;
	float: left;
}

.col-30 {
	width: 30%;
	float: left;
}

.col-27 {
	width: 27%;
	float: left;
}

.col-20 {
	width: 20%;
	float: left;
}

.col-15 {
	width: 15%;
	float: left;
}

.col-10 {
	width: 10%;
	float: left;
}

.col-5 {
	width: 5%;
	float: left;
}

/* Image Upload or Drag and Drop */
.image-box-dashe {
	float: left;
	width: 100%;
	cursor: pointer;
	min-height: 180px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 10px;
	display: inline-block;
	border: dashed 1px #ccc;
	-moz-border-radius: 5px;
	background-color: #f6f8f9;
	-webkit-border-radius: 5px;
}

.image-box-dashe:hover {
	opacity: 0.8;
	border: dashed 1px #dee3e8;
}

.preview-content {
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -50px;
	position: absolute;
}

.recommended-image {
	clear: both;
}

.image-container {
	width: 100%;
}

.image-container img {
	max-width: 100%;
}

/* Comment History in Issue Detail Page */
.history-box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	overflow-y: scroll;
	border-radius: 5px;
	background: #fff;
	height: 130px;
	padding: 10px;
	margin: 0px;
}

/* Related Issues in Issue Detail Page */
.ri-box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	overflow-y: scroll;
	border-radius: 5px;
	position: relative;
	overflow-x: hidden;
	background: #fff;
	height: 140px;
	padding: 10px;
	margin: 0px;
}

.ri-detail-box {
	margin: 10px 25px 0px 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	overflow-y: scroll;
	position: relative;
	border-radius: 5px;
	overflow-x: hidden;
	background: #fff;
	height: 180px;
}

.ri-modal {
	margin: 0px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #f8f8f8;
}

.ri-height{
	height: 220px;
}

.padding-model{
	padding: 10px 10px 0px 10px;
}

.modal{
	overflow: hidden;
}

.ri-model-header{
	min-height: 64.428571px;
}

.ri-model-footer{
	padding: 4px;
	margin: 0px;
}

.setting-line {
	padding-top: 10px;
}

.setting-line h4 {
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.preview-content {
		left: 35%;
		margin-top: 0px;
	}
	.nav-tabs > li > a {
		font-size: 10px;
		padding: 8px 13px;
	}
	.pop-up-box {
		width: 80%;
	}
	.col-m-80 {
		width: 100%;
	}
	.col-m-20 {
		width: 100%;
	}
	.col-label, .col-label-id, .col-label-issue {
		width: 27%;
	}
	.col-input, .col-input-id, .col-input-issue {
		width: 73%;
	}
	.col-mobile {
		width: 100%;
	}
	.margin-left-m-5 {
		margin-left: 0px;
	}
	.margin-id-m {
		margin: 5px 0px 0px 0px;
	}
	.margin-space-m {
		margin: 0px;
	}
	.ri-box, .ri-detail-box {
		overflow-x: scroll;
	}
	.hide-mobile {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	.setting-line h4 {
		display: block;
	}
	/*.navbar-nav.navbar-right:last-child {
		margin-right: -15px;
	}
	.navbar-right {
		float: right !important;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: -15px;
	}*/
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,.bodyContainer,.footer {
		padding-right: 0;
		padding-left: 0;
	}

	/* Space out the masthead */
	.header {
		margin-bottom: 15px;
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}