html,body {
	overflow-x: hidden;
}

body {
	padding-top: 70px;
	background-color: #4A87AB;
}

footer {
	padding: 10px 0;
}

.text-brand {
	text-shadow: 2px 2px 2px #cccccc;
}

.first-bold {
	font-weight: bold;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.login-panel {
	width: 400px;
	margin: 0 auto;
	height: 280px;
}

.login-link {
	width: 340px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #f8f8f8;
	background-color: #f8f8f8;
	-webkit-border-radius: 5px;
}

input[type="text"]:valid {
	color: green;
}

input[type="text"]:valid ~ .input-validation::before {
	content: "\2713";
	color: green;
}

input[type="text"]:invalid {
	color: red;
}

.input-group ul,.input-group ul table {
	width: 100%;
}

.asterisk{
	color: red;
}